<input type="text" ng-model="busqueda.titulo" placeholder="Buscar video..." class="col-6 my-2 form-control">
<ul class="list-group" ng-if="videos.length">
    <li class="list-group-item" ng-repeat="video in videos | filter:busqueda">
        <div class="row">
            <div class="col-2">
                <img ng-src="https://img.youtube.com/vi/{{video.codigo}}/default.jpg" alt="{{video.titulo}}"/>
            </div>
            <div class="col-6">
                <h4><a href="#!/videos/{{video.id}}">{{video.titulo}}</a></h4>
                <p>{{video.categoria}}</p>
            </div>
        </div>
    </li>
</ul>
